In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

In [3]:
currency = pd.read_excel('C:/Users/lenovo/Desktop/EURUSD.xlsx') #read the excel file

In [4]:
currency

                    Date    Open    High     Low   Close
0    2022-06-14 12:36:00  1.0420  1.0420  1.0419  1.0419
1    2022-06-14 12:35:00  1.0421  1.0422  1.0419  1.0419
2    2022-06-14 12:34:00  1.0423  1.0423  1.0421  1.0421
3    2022-06-14 12:33:00  1.0422  1.0423  1.0421  1.0423
4    2022-06-14 12:32:00  1.0422  1.0422  1.0420  1.0422
...                  ...     ...     ...     ...     ...
4109 2022-06-09 17:04:00  1.0617  1.0618  1.0617  1.0618
4110 2022-06-09 17:03:00  1.0617  1.0617  1.0617  1.0617
4111 2022-06-09 17:02:00  1.0617  1.0617  1.0617  1.0617
4112 2022-06-09 17:01:00  1.0617  1.0617  1.0616  1.0617
4113 2022-06-09 17:00:00  1.0617  1.0618  1.0617  1.0617

[4114 rows x 5 columns]

In [5]:
# use new column 'return' instead of columns 'Open' and 'Close'

# add new column 'return'
currency['return'] = np.log(currency['Close']) - np.log(currency['Open'])
currency

                    Date    Open    High     Low   Close    return
0    2022-06-14 12:36:00  1.0420  1.0420  1.0419  1.0419 -0.000096
1    2022-06-14 12:35:00  1.0421  1.0422  1.0419  1.0419 -0.000192
2    2022-06-14 12:34:00  1.0423  1.0423  1.0421  1.0421 -0.000192
3    2022-06-14 12:33:00  1.0422  1.0423  1.0421  1.0423  0.000096
4    2022-06-14 12:32:00  1.0422  1.0422  1.0420  1.0422  0.000000
...                  ...     ...     ...     ...     ...       ...
4109 2022-06-09 17:04:00  1.0617  1.0618  1.0617  1.0618  0.000094
4110 2022-06-09 17:03:00  1.0617  1.0617  1.0617  1.0617  0.000000
4111 2022-06-09 17:02:00  1.0617  1.0617  1.0617  1.0617  0.000000
4112 2022-06-09 17:01:00  1.0617  1.0617  1.0616  1.0617  0.000000
4113 2022-06-09 17:00:00  1.0617  1.0618  1.0617  1.0617  0.000000

[4114 rows x 6 columns]

In [6]:
# delete columns 'Open' and 'Close'
del currency['Open'], currency['Close']
currency

                    Date    High     Low    return
0    2022-06-14 12:36:00  1.0420  1.0419 -0.000096
1    2022-06-14 12:35:00  1.0422  1.0419 -0.000192
2    2022-06-14 12:34:00  1.0423  1.0421 -0.000192
3    2022-06-14 12:33:00  1.0423  1.0421  0.000096
4    2022-06-14 12:32:00  1.0422  1.0420  0.000000
...                  ...     ...     ...       ...
4109 2022-06-09 17:04:00  1.0618  1.0617  0.000094
4110 2022-06-09 17:03:00  1.0617  1.0617  0.000000
4111 2022-06-09 17:02:00  1.0617  1.0617  0.000000
4112 2022-06-09 17:01:00  1.0617  1.0616  0.000000
4113 2022-06-09 17:00:00  1.0618  1.0617  0.000000

[4114 rows x 4 columns]

In [7]:
# Now I consider using the return of last 5 minutes to predict the return of next 1 minute

# Firstly, construct the features and label matrix

In [8]:
cur_r= currency[['Date','return']]
cur_r

                    Date    return
0    2022-06-14 12:36:00 -0.000096
1    2022-06-14 12:35:00 -0.000192
2    2022-06-14 12:34:00 -0.000192
3    2022-06-14 12:33:00  0.000096
4    2022-06-14 12:32:00  0.000000
...                  ...       ...
4109 2022-06-09 17:04:00  0.000094
4110 2022-06-09 17:03:00  0.000000
4111 2022-06-09 17:02:00  0.000000
4112 2022-06-09 17:01:00  0.000000
4113 2022-06-09 17:00:00  0.000000

[4114 rows x 2 columns]

In [35]:
r_sum = cur_r['return'].sum()
r_count = cur_r['return'].count()
r_mean = r_sum / r_count
r_std = np.sqrt(((cur_r['return'] - r_mean)**2).sum()/r_count) # Standard deviation
cur_r['return'] = (cur_r['return'] - r_mean) / r_std
cur_r

<ipython-input-35-0bb16ba65bca>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cur_r['return'] = (cur_r['return'] - r_mean) / r_std

                    Date    return
0    2022-06-14 12:36:00 -0.515922
1    2022-06-14 12:35:00 -1.056805
2    2022-06-14 12:34:00 -1.056597
3    2022-06-14 12:33:00  0.565791
4    2022-06-14 12:32:00  0.025012
...                  ...       ...
4109 2022-06-09 17:04:00  0.555859
4110 2022-06-09 17:03:00  0.025012
4111 2022-06-09 17:02:00  0.025012
4112 2022-06-09 17:01:00  0.025012
4113 2022-06-09 17:00:00  0.025012

[4114 rows x 2 columns]

In [41]:
### simple CNN

In [36]:
#split train set (use data before June 14 as train set)
window = 5
x_train, y_train = [], []

for i in range(757,4114-5):
    x_train.append(cur_r.loc[i + 1 : i + window, 'return'])
    y_train.append(cur_r.loc[i, 'return'])

#convert the list to ndarray
x_train = np.array(x_train)
y_train = np.array(y_train)

In [37]:
# split test set (use data on June 14 as test set)
x_test, y_test = [], []

for i in range(752):
    x_test.append(cur_r.loc[i + 1 : i + window, 'return'])
    y_test.append(cur_r.loc[i, 'return'])

#convert the list to ndarray
x_test = np.array(x_test)
y_test = np.array(y_test)

In [38]:
x_train

array([[-1.05607826,  0.02501243,  0.02501243, -0.51545517,  1.64657071],
       [ 0.02501243,  0.02501243, -0.51545517,  1.64657071, -0.51555884],
       [ 0.02501243, -0.51545517,  1.64657071, -0.51555884,  0.56558369],
       ...,
       [-1.03663125,  0.55580927,  0.55585926,  0.02501243,  0.02501243],
       [ 0.55580927,  0.55585926,  0.02501243,  0.02501243,  0.02501243],
       [ 0.55585926,  0.02501243,  0.02501243,  0.02501243,  0.02501243]])

In [39]:
y_train

array([ 0.56558369, -1.05607826,  0.02501243, ...,  1.08665611,
       -1.03663125,  0.55580927])

In [40]:
x_train.shape

(3352, 5)

In [41]:
y_train.shape

(3352,)

In [42]:
# convert x_train to 3D tensor
# x_train[data_index, time_point, channel]
x_train = x_train.reshape((x_train.shape[0], x_train.shape[1], 1))
x_train.shape

(3352, 5, 1)

In [43]:
# convert x_test to 3D tensor
x_test = x_test.reshape((x_test.shape[0], x_test.shape[1], 1))
x_test.shape

(752, 5, 1)

In [44]:
# build a CNN
# 2 convolutional layers and 1 FNN hidden layer
model = tf.keras.models.Sequential()

# First coonvolutional layer
model.add(tf.keras.layers.Conv1D(filters = 4, kernel_size = 2, activation = 'relu', input_shape = (window,1)))# 1 channel only

# Second convolutional layer
model.add(tf.keras.layers.Conv1D(filters = 6, kernel_size = 2, activation = 'relu'))

# Global average pooling to collapse the matrix into a vector
model.add(tf.keras.layers.GlobalAveragePooling1D())

# FNN hidden layer with 8 neurons
model.add(tf.keras.layers.Dense(8, activation = 'relu'))

# Output layer
model.add(tf.keras.layers.Dense(1, activation = 'linear'))

In [45]:
# train the model
model.compile(loss = 'mean_squared_error')
model.fit(x_train, y_train, epochs = 100, verbose = 1)

Epoch 1/100
105/105 [==============================] - 1s 1ms/step - loss: 0.9486
Epoch 2/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9436
Epoch 3/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9412
Epoch 4/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9410
Epoch 5/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9405
Epoch 6/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9404
Epoch 7/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9399
Epoch 8/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9403
Epoch 9/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9396
Epoch 10/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9400
Epoch 11/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9391
Epoch 12/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9392
Epoch 13/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9389
Epoch 14/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9387
Epoch 15/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9390
Epoch 16/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9388
Epoch 17/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9386
Epoch 18/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9388
Epoch 19/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9383
Epoch 20/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9382
Epoch 21/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9381
Epoch 22/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9377
Epoch 23/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9390
Epoch 24/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9381
Epoch 25/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9379
Epoch 26/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9382
Epoch 27/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9375
Epoch 28/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9375
Epoch 29/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9371
Epoch 30/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9380
Epoch 31/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9377
Epoch 32/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9372
Epoch 33/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9374
Epoch 34/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9364
Epoch 35/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9372
Epoch 36/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9375
Epoch 37/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9369
Epoch 38/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9366
Epoch 39/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9362
Epoch 40/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9371
Epoch 41/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9366
Epoch 42/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9360
Epoch 43/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9356
Epoch 44/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9368
Epoch 45/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9357
Epoch 46/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9366
Epoch 47/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9359
Epoch 48/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9367
Epoch 49/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9357
Epoch 50/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9356
Epoch 51/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9356
Epoch 52/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9348
Epoch 53/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9354
Epoch 54/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9356
Epoch 55/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9352
Epoch 56/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9352
Epoch 57/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9352
Epoch 58/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9352
Epoch 59/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9342
Epoch 60/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9345
Epoch 61/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9344
Epoch 62/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9344
Epoch 63/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9345
Epoch 64/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9338
Epoch 65/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9337
Epoch 66/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9333
Epoch 67/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9333
Epoch 68/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9338
Epoch 69/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9333
Epoch 70/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9329
Epoch 71/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9329
Epoch 72/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9336
Epoch 73/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9334
Epoch 74/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9334
Epoch 75/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9330
Epoch 76/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9330
Epoch 77/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9323
Epoch 78/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9324
Epoch 79/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9317
Epoch 80/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9326
Epoch 81/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9326
Epoch 82/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9327
Epoch 83/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9316
Epoch 84/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9321
Epoch 85/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9307
Epoch 86/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9321
Epoch 87/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9319
Epoch 88/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9312
Epoch 89/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9311
Epoch 90/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9315
Epoch 91/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9311
Epoch 92/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9317
Epoch 93/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9297
Epoch 94/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9308
Epoch 95/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9304
Epoch 96/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9310
Epoch 97/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9318
Epoch 98/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9305
Epoch 99/100

105/105 [==============================] - 0s 1ms/step - loss: 0.9297
Epoch 100/100
105/105 [==============================] - 0s 1ms/step - loss: 0.9313

In [47]:
# evaluate the model quality (on test set)
cur_r_test = cur_r[:752]
y_pred = model.predict(x_test)
y_pred = y_pred.flatten()
cur_r_test.loc[:,'predicted r'] = y_pred
cur_r_test

24/24 [==============================] - 0s 913us/step

D:\anaconda\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\anaconda\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

                   Date    return  predicted r
0   2022-06-14 12:36:00 -0.515922    -0.089433
1   2022-06-14 12:35:00 -1.056805    -0.011511
2   2022-06-14 12:34:00 -1.056597     0.044279
3   2022-06-14 12:33:00  0.565791     0.069895
4   2022-06-14 12:32:00  0.025012    -0.033793
..                  ...       ...          ...
747 2022-06-14 00:09:00  0.025012     0.020450
748 2022-06-14 00:08:00  0.565325    -0.029401
749 2022-06-14 00:07:00 -0.515300    -0.059696
750 2022-06-14 00:06:00 -0.515248     0.045126
751 2022-06-14 00:05:00 -0.515196    -0.138003

[752 rows x 3 columns]