In [1]:
### Mixture density network to predict EURUSD currency.
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import tensorflow_probability as tfp
tfd = tfp.distributions
tfpl = tfp.layers
tfk = tf.keras
tfkl = tf.keras.layers

In [38]:
# Read the excel file
eurusd = pd.read_excel('C:/Users/lenovo/Desktop/currency.xlsx',sheet_name = "EURUSD")
eurusd["price_t-1"] = eurusd['Last Price'].shift(1)
eurusd

                     Date  Last Price  price_t-1
0     2022-06-27 22:00:00      1.0585        NaN
1     2022-06-27 22:01:00      1.0581     1.0585
2     2022-06-27 22:02:00      1.0584     1.0581
3     2022-06-27 22:03:00      1.0584     1.0584
4     2022-06-27 22:04:00      1.0584     1.0584
...                   ...         ...        ...
12847 2022-07-08 18:15:00      1.0171     1.0172
12848 2022-07-08 18:16:00      1.0171     1.0171
12849 2022-07-08 18:17:00      1.0172     1.0171
12850 2022-07-08 18:18:00      1.0170     1.0172
12851 2022-07-08 18:19:00      1.0170     1.0170

[12852 rows x 3 columns]

In [39]:
# Calculate the return at time t
eurusd['return_t'] = np.log(eurusd['Last Price']) - np.log(eurusd["price_t-1"])
eurusd

                     Date  Last Price  price_t-1  return_t
0     2022-06-27 22:00:00      1.0585        NaN       NaN
1     2022-06-27 22:01:00      1.0581     1.0585 -0.000378
2     2022-06-27 22:02:00      1.0584     1.0581  0.000283
3     2022-06-27 22:03:00      1.0584     1.0584  0.000000
4     2022-06-27 22:04:00      1.0584     1.0584  0.000000
...                   ...         ...        ...       ...
12847 2022-07-08 18:15:00      1.0171     1.0172 -0.000098
12848 2022-07-08 18:16:00      1.0171     1.0171  0.000000
12849 2022-07-08 18:17:00      1.0172     1.0171  0.000098
12850 2022-07-08 18:18:00      1.0170     1.0172 -0.000197
12851 2022-07-08 18:19:00      1.0170     1.0170  0.000000

[12852 rows x 4 columns]

In [40]:
# Use data in the late 10 minutes as features
window = 10
for i in range(1,window + 1):
    string = 'return_t-' + str(i)
    eurusd[string] = eurusd['return_t'].shift(i)
eurusd

,Date,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10
0,2022-06-27 22:00:00,1.0585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-06-27 22:01:00,1.0581,1.0585,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-27 22:02:00,1.0584,1.0581,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-06-27 22:03:00,1.0584,1.0584,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-06-27 22:04:00,1.0584,1.0584,0.000000,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12847,2022-07-08 18:15:00,1.0171,1.0172,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197,0.000197
12848,2022-07-08 18:16:00,1.0171,1.0171,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197
12849,2022-07-08 18:17:00,1.0172,1.0171,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000
12850,2022-07-08 18:18:00,1.0170,1.0172,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000
12851,2022-07-08 18:19:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098

In [41]:
# Set data as index
eurusd.set_index('Date',inplace=True)
eurusd

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10
Date,,,,,,,,,,,,,
2022-06-27 22:00:00,1.0585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:01:00,1.0581,1.0585,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:02:00,1.0584,1.0581,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:03:00,1.0584,1.0584,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:04:00,1.0584,1.0584,0.000000,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-08 18:15:00,1.0171,1.0172,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197,0.000197
2022-07-08 18:16:00,1.0171,1.0171,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197
2022-07-08 18:17:00,1.0172,1.0171,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000
2022-07-08 18:18:00,1.0170,1.0172,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000
2022-07-08 18:19:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098

In [42]:
# Add S&P500 as feature
spx = pd.read_excel('C:/Users/lenovo/Desktop/indices.xlsx',sheet_name = "S&P500")
spx.set_index('Date',inplace=True)
spx.rename(columns={'Last Price':'SPX'},inplace=True)
spx = spx['SPX']
eurusd_spx = eurusd.merge(spx, how='outer', left_index=True, right_index=True)
eurusd_spx

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX
Date,,,,,,,,,,,,,,
2022-06-27 22:00:00,1.0585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:01:00,1.0581,1.0585,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:02:00,1.0584,1.0581,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:03:00,1.0584,1.0584,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:04:00,1.0584,1.0584,0.000000,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-08 18:15:00,1.0171,1.0172,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197,0.000197,3889.08
2022-07-08 18:16:00,1.0171,1.0171,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197,3889.09
2022-07-08 18:17:00,1.0172,1.0171,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,3888.80
2022-07-08 18:18:00,1.0170,1.0172,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,3887.84
2022-07-08 18:19:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,NaN

In [43]:
# Add Euro Stoxx50 as feature
sx5e = pd.read_excel('C:/Users/lenovo/Desktop/indices.xlsx',sheet_name = "Euro Stoxx50")
sx5e.set_index('Date',inplace=True)
sx5e.rename(columns={'Last Price':'SX5E'},inplace=True)
sx5e = sx5e['SX5E']
eurusd_spx_sx5e = eurusd_spx.merge(sx5e, how='outer', left_index=True, right_index=True)
eurusd_spx_sx5e

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E
Date,,,,,,,,,,,,,,,
2022-06-27 22:00:00,1.0585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:01:00,1.0581,1.0585,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:02:00,1.0584,1.0581,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:03:00,1.0584,1.0584,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:04:00,1.0584,1.0584,0.000000,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-08 18:15:00,1.0171,1.0172,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197,0.000197,3889.08,NaN
2022-07-08 18:16:00,1.0171,1.0171,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,0.000197,3889.09,NaN
2022-07-08 18:17:00,1.0172,1.0171,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,0.000000,3888.80,NaN
2022-07-08 18:18:00,1.0170,1.0172,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,0.000000,3887.84,NaN
2022-07-08 18:19:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,NaN,NaN

In [44]:
# Add implied volatility as feature
vol = pd.read_excel('C:/Users/lenovo/Desktop/implied_vol.xlsx',sheet_name = "EURUSDV1M")
vol.set_index('Date',inplace=True)
vol.rename(columns={'Last Price':'VOL'},inplace=True)
vol = vol['VOL']
eurusd_spx_sx5e_vol = eurusd_spx_sx5e.merge(vol, how='outer', left_index=True, right_index=True)
eurusd_spx_sx5e_vol

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL
Date,,,,,,,,,,,,,,,,
2022-06-27 22:00:00,1.0585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3850
2022-06-27 22:01:00,1.0581,1.0585,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:02:00,1.0584,1.0581,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-27 22:03:00,1.0584,1.0584,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4025
2022-06-27 22:04:00,1.0584,1.0584,0.000000,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-08 18:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7625
2022-07-08 18:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7625
2022-07-08 18:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7625
2022-07-08 19:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7625
2022-07-08 19:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.7625

In [45]:
# Add interest rate as feature

eusa10 = pd.read_excel('C:/Users/lenovo/Desktop/interest_rate.xlsx',sheet_name = "EUSA10")
eusa10.set_index('Date',inplace=True)
eusa10.rename(columns={'Last Price':'EUSA10'},inplace=True)
eusa10 = eusa10['EUSA10']
eurusd_spx_sx5e_vol_eusa10 = eurusd_spx_sx5e_vol.merge(eusa10, how='outer', left_index=True, right_index=True)
eurusd_spx_sx5e_vol_eusa10

ussw10 = pd.read_excel('C:/Users/lenovo/Desktop/interest_rate.xlsx',sheet_name = "USSW10")
ussw10.set_index('Date',inplace=True)
ussw10.rename(columns={'Last Price':'USSW10'},inplace=True)
ussw10 = ussw10['USSW10']
eurusd_spx_sx5e_vol_eusa10_ussw10 = eurusd_spx_sx5e_vol_eusa10.merge(ussw10, how='outer', left_index=True, right_index=True)
eurusd_com = eurusd_spx_sx5e_vol_eusa10_ussw10
eurusd_com

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL,EUSA10,USSW10
Date,,,,,,,,,,,,,,,,,,
2022-06-27 22:00:00,1.0585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3850,NaN,3.2755
2022-06-27 22:01:00,1.0581,1.0585,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2760
2022-06-27 22:02:00,1.0584,1.0581,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2747
2022-06-27 22:03:00,1.0584,1.0584,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4025,NaN,3.2740
2022-06-27 22:04:00,1.0584,1.0584,0.000000,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-08 19:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1863
2022-07-08 19:11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1850
2022-07-08 19:12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1862
2022-07-08 19:13:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1863
2022-07-08 19:14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.1866

In [46]:
# Fill NAN
eurusd_com = eurusd_com.fillna(method ='ffill')
eurusd_com

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL,EUSA10,USSW10
Date,,,,,,,,,,,,,,,,,,
2022-06-27 22:00:00,1.0585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3850,NaN,3.2755
2022-06-27 22:01:00,1.0581,1.0585,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3850,NaN,3.2760
2022-06-27 22:02:00,1.0584,1.0581,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3850,NaN,3.2747
2022-06-27 22:03:00,1.0584,1.0584,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4025,NaN,3.2740
2022-06-27 22:04:00,1.0584,1.0584,0.000000,0.000000,0.000283,-0.000378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4025,NaN,3.2740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-08 19:10:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.0,0.000098,0.0,0.0,0.000197,0.000098,3887.84,3506.55,10.7625,2.156,3.1863
2022-07-08 19:11:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.0,0.000098,0.0,0.0,0.000197,0.000098,3887.84,3506.55,10.7625,2.156,3.1850
2022-07-08 19:12:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.0,0.000098,0.0,0.0,0.000197,0.000098,3887.84,3506.55,10.7625,2.156,3.1862
2022-07-08 19:13:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.0,0.000098,0.0,0.0,0.000197,0.000098,3887.84,3506.55,10.7625,2.156,3.1863
2022-07-08 19:14:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.0,0.000098,0.0,0.0,0.000197,0.000098,3887.84,3506.55,10.7625,2.156,3.1866

In [47]:
# Find the first row that does not contain NAN. Delete all data before this row.

In [51]:
notna_index = eurusd_com[eurusd_com.notna().all(axis = 1)].index[0]
eurusd_com = eurusd_com.loc[notna_index : ,:]
eurusd_com

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL,EUSA10,USSW10
Date,,,,,,,,,,,,,,,,,,
2022-06-28 14:30:00,1.0533,1.0530,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,0.000190,-0.000095,0.000190,3923.17,3569.19,8.5650,2.4190,3.2972
2022-06-28 14:31:00,1.0530,1.0533,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,0.000190,-0.000095,3925.45,3570.71,8.5650,2.4110,3.2910
2022-06-28 14:32:00,1.0530,1.0530,0.000000,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,0.000190,3937.14,3577.18,8.5750,2.4208,3.2975
2022-06-28 14:33:00,1.0528,1.0530,-0.000190,0.000000,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,3940.04,3576.80,8.5750,2.4221,3.2979
2022-06-28 14:34:00,1.0531,1.0528,0.000285,-0.000190,0.000000,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,3940.33,3576.87,8.5750,2.4200,3.2903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-08 19:10:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,3887.84,3506.55,10.7625,2.1560,3.1863
2022-07-08 19:11:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,3887.84,3506.55,10.7625,2.1560,3.1850
2022-07-08 19:12:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,3887.84,3506.55,10.7625,2.1560,3.1862
2022-07-08 19:13:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,3887.84,3506.55,10.7625,2.1560,3.1863
2022-07-08 19:14:00,1.0170,1.0170,0.000000,-0.000197,0.000098,0.000000,-0.000098,0.000000,0.000098,0.000000,0.000000,0.000197,0.000098,3887.84,3506.55,10.7625,2.1560,3.1866

In [52]:
# Split training set and testing set. The testing set accounts for 10% of the whole data.
num = eurusd_com.shape[0]//10
eurusd_train = eurusd_com.iloc[:-num,:]
eurusd_test = eurusd_com.iloc[-num: ,]

In [53]:
eurusd_train

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL,EUSA10,USSW10
Date,,,,,,,,,,,,,,,,,,
2022-06-28 14:30:00,1.0533,1.0530,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,0.000190,-0.000095,0.000190,3923.17,3569.19,8.565,2.4190,3.2972
2022-06-28 14:31:00,1.0530,1.0533,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,0.000190,-0.000095,3925.45,3570.71,8.565,2.4110,3.2910
2022-06-28 14:32:00,1.0530,1.0530,0.000000,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,0.000190,3937.14,3577.18,8.575,2.4208,3.2975
2022-06-28 14:33:00,1.0528,1.0530,-0.000190,0.000000,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,-0.000190,3940.04,3576.80,8.575,2.4221,3.2979
2022-06-28 14:34:00,1.0531,1.0528,0.000285,-0.000190,0.000000,-0.000285,0.000285,-0.000285,0.000095,0.000000,0.000000,-0.000095,-0.000095,3940.33,3576.87,8.575,2.4200,3.2903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-07 23:17:00,1.0163,1.0163,0.000000,-0.000098,-0.000197,0.000000,0.000000,-0.000098,0.000000,0.000000,0.000098,0.000000,0.000000,3902.62,3488.50,10.710,2.1277,3.0830
2022-07-07 23:18:00,1.0163,1.0163,0.000000,0.000000,-0.000098,-0.000197,0.000000,0.000000,-0.000098,0.000000,0.000000,0.000098,0.000000,3902.62,3488.50,10.710,2.1277,3.0830
2022-07-07 23:19:00,1.0164,1.0163,0.000098,0.000000,0.000000,-0.000098,-0.000197,0.000000,0.000000,-0.000098,0.000000,0.000000,0.000098,3902.62,3488.50,10.710,2.1277,3.0830
2022-07-07 23:20:00,1.0163,1.0164,-0.000098,0.000098,0.000000,0.000000,-0.000098,-0.000197,0.000000,0.000000,-0.000098,0.000000,0.000000,3902.62,3488.50,10.710,2.1277,3.0830
2022-07-07 23:21:00,1.0162,1.0163,-0.000098,-0.000098,0.000098,0.000000,0.000000,-0.000098,-0.000197,0.000000,0.000000,-0.000098,0.000000,3902.62,3488.50,10.710,2.1277,3.0830

In [54]:
# Nolmallize data by minmax scaler
from sklearn import preprocessing
# Construct a scaler
MiMaScaler = preprocessing.MinMaxScaler()
# Fit data on training set
MiMaScaler.fit(eurusd_train)
# Generate the scaled data
train = MiMaScaler.transform(eurusd_train)
scaled_eurusd_train = pd.DataFrame(train, columns=eurusd_train.columns,index = eurusd_train.index)
scaled_eurusd_train.describe()

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL,EUSA10,USSW10
count,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000,10738.000000
mean,0.579426,0.579510,0.374055,0.374083,0.373989,0.374020,0.374020,0.374017,0.374017,0.374050,0.374022,0.373987,0.374027,0.409203,0.445237,0.472969,0.464282,0.461863
std,0.305841,0.305820,0.044039,0.044072,0.044042,0.044033,0.044033,0.044034,0.044034,0.044043,0.044036,0.044045,0.044039,0.137854,0.226025,0.246500,0.259653,0.233668
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.288608,0.288608,0.349840,0.349840,0.349840,0.349840,0.349840,0.349840,0.349840,0.349840,0.349840,0.349840,0.349840,0.387548,0.296246,0.278268,0.254772,0.293712
50%,0.716456,0.716456,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.419238,0.421201,0.415397,0.425658,0.410953
75%,0.787342,0.787342,0.399926,0.399926,0.399923,0.399923,0.399923,0.399923,0.399923,0.399926,0.399923,0.399923,0.399923,0.448784,0.580565,0.703288,0.634519,0.639402
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [55]:
# Scale testing set by using this scaler
test = MiMaScaler.transform(eurusd_test)
scaled_eurusd_test = pd.DataFrame(test, columns=eurusd_test.columns,index = eurusd_test.index)
scaled_eurusd_test.describe()

,Last Price,price_t-1,return_t,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL,EUSA10,USSW10
count,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000,1193.000000
mean,0.024580,0.024563,0.375060,0.372669,0.376245,0.375060,0.373876,0.375082,0.376245,0.374996,0.374996,0.377365,0.376116,0.787638,0.586275,0.738837,0.361197,0.574461
std,0.057449,0.057441,0.062228,0.063165,0.062449,0.062219,0.062455,0.062214,0.062449,0.062232,0.062232,0.063156,0.062451,0.032158,0.048964,0.039015,0.039652,0.091497
min,-0.169620,-0.169620,-0.346741,-0.346741,-0.346741,-0.346741,-0.346741,-0.346741,-0.346741,-0.346741,-0.346741,-0.346741,-0.346741,0.634538,0.430875,0.689655,0.272051,0.469371
25%,-0.002532,-0.002532,0.349165,0.349122,0.349165,0.349165,0.349165,0.349165,0.349165,0.349165,0.349165,0.349165,0.349165,0.796061,0.580565,0.708099,0.329114,0.506694
50%,0.040506,0.040506,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.374888,0.796061,0.580565,0.720930,0.370705,0.529817
75%,0.063291,0.063291,0.400626,0.400626,0.400626,0.400626,0.400626,0.400626,0.400626,0.400626,0.400626,0.400662,0.400624,0.796061,0.610027,0.773857,0.370705,0.665720
max,0.116456,0.116456,0.864444,0.864444,0.864444,0.864444,0.864444,0.864444,0.864444,0.864444,0.864444,0.864444,0.864444,0.872507,0.679240,0.842823,0.443239,0.755781

In [56]:
# Split label and features
# For training set
train_label = scaled_eurusd_train[['return_t']]
train_label

                     return_t
Date
2022-06-28 14:30:00  0.449346
2022-06-28 14:31:00  0.300430
2022-06-28 14:32:00  0.374888
2022-06-28 14:33:00  0.325238
2022-06-28 14:34:00  0.449360
...                       ...
2022-07-07 23:17:00  0.374888
2022-07-07 23:18:00  0.374888
2022-07-07 23:19:00  0.400606
2022-07-07 23:20:00  0.349170
2022-07-07 23:21:00  0.349167

[10738 rows x 1 columns]

In [57]:
train_feature = scaled_eurusd_train.loc[:,'return_t-1':]
train_feature

,return_t-1,return_t-2,return_t-3,return_t-4,return_t-5,return_t-6,return_t-7,return_t-8,return_t-9,return_t-10,SPX,SX5E,VOL,EUSA10,USSW10
Date,,,,,,,,,,,,,,,
2022-06-28 14:30:00,0.300430,0.399705,0.374888,0.374888,0.350071,0.350073,0.325266,0.424510,0.350076,0.424515,0.896251,0.936970,0.001604,0.955998,0.970791
2022-06-28 14:31:00,0.449346,0.300430,0.399705,0.374888,0.374888,0.350071,0.350073,0.325266,0.424510,0.350076,0.907367,0.943684,0.001604,0.939924,0.958215
2022-06-28 14:32:00,0.300430,0.449346,0.300430,0.399705,0.374888,0.374888,0.350071,0.350073,0.325266,0.424510,0.964361,0.972261,0.004812,0.959614,0.971400
2022-06-28 14:33:00,0.374888,0.300430,0.449346,0.300430,0.399705,0.374888,0.374888,0.350071,0.350073,0.325266,0.978499,0.970583,0.004812,0.962226,0.972211
2022-06-28 14:34:00,0.325238,0.374888,0.300430,0.449346,0.300430,0.399705,0.374888,0.374888,0.350071,0.350073,0.979913,0.970892,0.004812,0.958007,0.956795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-07 23:17:00,0.349170,0.323460,0.374888,0.374888,0.349178,0.374888,0.374888,0.400598,0.374888,0.374888,0.796061,0.580565,0.689655,0.370705,0.536308
2022-07-07 23:18:00,0.374888,0.349170,0.323460,0.374888,0.374888,0.349178,0.374888,0.374888,0.400598,0.374888,0.796061,0.580565,0.689655,0.370705,0.536308
2022-07-07 23:19:00,0.374888,0.374888,0.349170,0.323460,0.374888,0.374888,0.349178,0.374888,0.374888,0.400598,0.796061,0.580565,0.689655,0.370705,0.536308
2022-07-07 23:20:00,0.400606,0.374888,0.374888,0.349170,0.323460,0.374888,0.374888,0.349178,0.374888,0.374888,0.796061,0.580565,0.689655,0.370705,0.536308
2022-07-07 23:21:00,0.349170,0.400606,0.374888,0.374888,0.349170,0.323460,0.374888,0.374888,0.349178,0.374888,0.796061,0.580565,0.689655,0.370705,0.536308

In [58]:
# For testing set
test_label = scaled_eurusd_test[['return_t']]
test_feature = scaled_eurusd_test.loc[:,'return_t-1':]

In [59]:
# Build the model
event_shape = [1]
num_components = 5  # normal mixture with 5 components
params_size = tfp.layers.MixtureNormal.params_size(num_components, event_shape)
model = tfk.Sequential([
    tfkl.Dense(10, activation='relu'),
    tfkl.Dense(12, activation='relu'),
    tfkl.Dense(10, activation='relu'),
    tfkl.Dense(params_size, activation=None),
    tfpl.MixtureNormal(num_components, event_shape)
])

In [60]:
# Fit
model.compile(optimizer="adam",
              loss=lambda y, model: -model.log_prob(y))
model.fit(train_feature, train_label, batch_size=64, epochs=300)

Epoch 1/300
168/168 [==============================] - 1s 1ms/step - loss: -0.3646
Epoch 2/300
168/168 [==============================] - 0s 1ms/step - loss: -1.6905
Epoch 3/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7206
Epoch 4/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7364
Epoch 5/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7448
Epoch 6/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7509
Epoch 7/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7549
Epoch 8/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7514
Epoch 9/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7618
Epoch 10/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7703
Epoch 11/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7725
Epoch 12/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7712
Epoch 13/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7656
Epoch 14/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7697
Epoch 15/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7772
Epoch 16/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7749
Epoch 17/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7781
Epoch 18/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7816
Epoch 19/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7785
Epoch 20/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7824
Epoch 21/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7821
Epoch 22/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7843
Epoch 23/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7795
Epoch 24/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7933
Epoch 25/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7910
Epoch 26/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7888
Epoch 27/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7926
Epoch 28/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7959
Epoch 29/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7919
Epoch 30/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7936
Epoch 31/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7981
Epoch 32/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8010
Epoch 33/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7981
Epoch 34/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7980
Epoch 35/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7989
Epoch 36/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7961
Epoch 37/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7982
Epoch 38/300
168/168 [==============================] - 0s 1ms/step - loss: -1.7993
Epoch 39/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8046
Epoch 40/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8073
Epoch 41/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8026
Epoch 42/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8020
Epoch 43/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8050
Epoch 44/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8028
Epoch 45/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8070
Epoch 46/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8063
Epoch 47/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8072
Epoch 48/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8111
Epoch 49/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8063
Epoch 50/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8067
Epoch 51/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8094
Epoch 52/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8100
Epoch 53/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8040
Epoch 54/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8098
Epoch 55/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8045
Epoch 56/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8128
Epoch 57/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8168
Epoch 58/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8129
Epoch 59/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8167
Epoch 60/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8167
Epoch 61/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8102
Epoch 62/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8165
Epoch 63/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8177
Epoch 64/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8138
Epoch 65/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8178
Epoch 66/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8152
Epoch 67/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8197
Epoch 68/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8213
Epoch 69/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8182
Epoch 70/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8144
Epoch 71/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8220
Epoch 72/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8195
Epoch 73/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8202
Epoch 74/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8189
Epoch 75/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8234
Epoch 76/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8217
Epoch 77/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8247
Epoch 78/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8224
Epoch 79/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8211
Epoch 80/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8273
Epoch 81/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8278
Epoch 82/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8263
Epoch 83/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8261
Epoch 84/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8272
Epoch 85/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8268
Epoch 86/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8233
Epoch 87/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8270
Epoch 88/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8251
Epoch 89/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8235
Epoch 90/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8297
Epoch 91/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8284
Epoch 92/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8234
Epoch 93/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8304
Epoch 94/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8266
Epoch 95/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8338
Epoch 96/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8274
Epoch 97/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8322
Epoch 98/300

168/168 [==============================] - 0s 1ms/step - loss: -1.8268
Epoch 99/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8319
Epoch 100/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8291
Epoch 101/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8323
Epoch 102/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8325
Epoch 103/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8261
Epoch 104/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8311
Epoch 105/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8297
Epoch 106/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8327
Epoch 107/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8317
Epoch 108/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8359
Epoch 109/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8321
Epoch 110/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8330
Epoch 111/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8360
Epoch 112/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8314
Epoch 113/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8340
Epoch 114/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8374
Epoch 115/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8392
Epoch 116/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8357
Epoch 117/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8387
Epoch 118/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8410
Epoch 119/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8361
Epoch 120/300
168/168 [==============================] - 0s 996us/step - loss: -1.8427
Epoch 121/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8379
Epoch 122/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8354
Epoch 123/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8416
Epoch 124/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8410
Epoch 125/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8414
Epoch 126/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8426
Epoch 127/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8426
Epoch 128/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8359
Epoch 129/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8402
Epoch 130/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8455
Epoch 131/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8388
Epoch 132/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8398
Epoch 133/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8473
Epoch 134/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8405
Epoch 135/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8459
Epoch 136/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8397
Epoch 137/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8461
Epoch 138/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8483
Epoch 139/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8435
Epoch 140/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8457
Epoch 141/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8448
Epoch 142/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8409
Epoch 143/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8435
Epoch 144/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8152
Epoch 145/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8317
Epoch 146/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8397
Epoch 147/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8346
Epoch 148/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8450
Epoch 149/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8412
Epoch 150/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8451
Epoch 151/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8442
Epoch 152/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8405
Epoch 153/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8565
Epoch 154/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8583
Epoch 155/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8568
Epoch 156/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8516
Epoch 157/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8453
Epoch 158/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8392
Epoch 159/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8459
Epoch 160/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8475
Epoch 161/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8650
Epoch 162/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8334
Epoch 163/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8389
Epoch 164/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8408
Epoch 165/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8476
Epoch 166/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8519
Epoch 167/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8473
Epoch 168/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8531
Epoch 169/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8442
Epoch 170/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8490
Epoch 171/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8501
Epoch 172/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8436
Epoch 173/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8423
Epoch 174/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8454
Epoch 175/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8501
Epoch 176/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8521
Epoch 177/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8470
Epoch 178/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8528
Epoch 179/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8435
Epoch 180/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8451
Epoch 181/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8449
Epoch 182/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8498
Epoch 183/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8498
Epoch 184/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8467
Epoch 185/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8485
Epoch 186/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8519
Epoch 187/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8505
Epoch 188/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8527
Epoch 189/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8472
Epoch 190/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8507
Epoch 191/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8500
Epoch 192/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8521
Epoch 193/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8488
Epoch 194/300

168/168 [==============================] - 0s 1ms/step - loss: -1.8446
Epoch 195/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8470
Epoch 196/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8529
Epoch 197/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8537
Epoch 198/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8516
Epoch 199/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8530
Epoch 200/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8502
Epoch 201/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8498
Epoch 202/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8488
Epoch 203/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8528
Epoch 204/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8517
Epoch 205/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8501
Epoch 206/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8521
Epoch 207/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8522
Epoch 208/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8553
Epoch 209/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8545
Epoch 210/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8519
Epoch 211/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8549
Epoch 212/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8526
Epoch 213/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8545
Epoch 214/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8536
Epoch 215/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8546
Epoch 216/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8565
Epoch 217/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8541
Epoch 218/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8538
Epoch 219/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8552
Epoch 220/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8539
Epoch 221/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8559
Epoch 222/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8556
Epoch 223/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8521
Epoch 224/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8542
Epoch 225/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8563
Epoch 226/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8562
Epoch 227/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8564
Epoch 228/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8535
Epoch 229/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8569
Epoch 230/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8563
Epoch 231/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8585
Epoch 232/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8591
Epoch 233/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8579
Epoch 234/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8578
Epoch 235/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8579
Epoch 236/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8550
Epoch 237/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8559
Epoch 238/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8592
Epoch 239/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8550
Epoch 240/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8550
Epoch 241/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8613
Epoch 242/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8594
Epoch 243/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8587
Epoch 244/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8557
Epoch 245/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8578
Epoch 246/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8608
Epoch 247/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8590
Epoch 248/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8559
Epoch 249/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8587
Epoch 250/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8596
Epoch 251/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8577
Epoch 252/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8569
Epoch 253/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8585
Epoch 254/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8582
Epoch 255/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8563
Epoch 256/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8600
Epoch 257/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8558
Epoch 258/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8604
Epoch 259/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8610
Epoch 260/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8592
Epoch 261/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8610
Epoch 262/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8600
Epoch 263/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8582
Epoch 264/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8584
Epoch 265/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8596
Epoch 266/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8616
Epoch 267/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8625
Epoch 268/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8601
Epoch 269/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8577
Epoch 270/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8610
Epoch 271/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8633
Epoch 272/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8639
Epoch 273/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8614
Epoch 274/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8591
Epoch 275/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8614
Epoch 276/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8624
Epoch 277/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8594
Epoch 278/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8617
Epoch 279/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8623
Epoch 280/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8626
Epoch 281/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8609
Epoch 282/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8596
Epoch 283/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8641
Epoch 284/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8600
Epoch 285/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8603
Epoch 286/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8639
Epoch 287/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8623
Epoch 288/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8645
Epoch 289/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8642
Epoch 290/300

168/168 [==============================] - 0s 1ms/step - loss: -1.8652
Epoch 291/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8843
Epoch 292/300
168/168 [==============================] - 0s 1ms/step - loss: -1.9393
Epoch 293/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8537
Epoch 294/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8185
Epoch 295/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8289
Epoch 296/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8429
Epoch 297/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8499
Epoch 298/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8531
Epoch 299/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8494
Epoch 300/300
168/168 [==============================] - 0s 1ms/step - loss: -1.8534

In [61]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                160

 dense_1 (Dense)             (None, 12)                132

 dense_2 (Dense)             (None, 10)                130

 dense_3 (Dense)             (None, 15)                165

 mixture_normal (MixtureNorm  ((None, 1),              0
 al)                          (None, 1))

=================================================================
Total params: 587
Trainable params: 587
Non-trainable params: 0
_________________________________________________________________

In [62]:
# Create two empty columns
test_label["mix_mean"] = np.nan
test_label["mix_dev"] = np.nan
test_label

<ipython-input-62-1f5e28c17cee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_label["mix_mean"] = np.nan
<ipython-input-62-1f5e28c17cee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_label["mix_dev"] = np.nan

                     return_t  mix_mean  mix_dev
Date
2022-07-07 23:22:00  0.400608       NaN      NaN
2022-07-07 23:23:00  0.349167       NaN      NaN
2022-07-07 23:24:00  0.374888       NaN      NaN
2022-07-07 23:25:00  0.374888       NaN      NaN
2022-07-07 23:26:00  0.349165       NaN      NaN
...                       ...       ...      ...
2022-07-08 19:10:00  0.374888       NaN      NaN
2022-07-08 19:11:00  0.374888       NaN      NaN
2022-07-08 19:12:00  0.374888       NaN      NaN
2022-07-08 19:13:00  0.374888       NaN      NaN
2022-07-08 19:14:00  0.374888       NaN      NaN

[1193 rows x 3 columns]

In [63]:
for i in range(test_feature.shape[0]):
    x = np.array(test_feature.iloc[i])
    x = x.reshape(1,x.shape[0])
    gm = model(x)
    gm_weights = gm.mixture_distribution.probs_parameter().numpy().flatten()
    gm_means = gm.components_distribution.mean().numpy().flatten()
    gm_vars = gm.components_distribution.variance().numpy().flatten()
    mix_mean = np.dot(gm_weights, gm_means)
    mix_dev = np.sqrt(np.dot(gm_weights**2, gm_vars))
    test_label.iloc[i,1] = mix_mean
    test_label.iloc[i,2] = mix_dev

D:\anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-63-dc538d6fefb8>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_label.iloc[i,1] = mix_mean
<ipython-input-63-dc538d6fefb8>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_label.iloc[i,2] = mix_dev

In [64]:
test_label

                     return_t  mix_mean   mix_dev
Date
2022-07-07 23:22:00  0.400608  0.378637  0.021610
2022-07-07 23:23:00  0.349167  0.377480  0.023502
2022-07-07 23:24:00  0.374888  0.378082  0.022837
2022-07-07 23:25:00  0.374888  0.376526  0.022521
2022-07-07 23:26:00  0.349165  0.377722  0.022292
...                       ...       ...       ...
2022-07-08 19:10:00  0.374888  0.380714  0.023728
2022-07-08 19:11:00  0.374888  0.380676  0.023706
2022-07-08 19:12:00  0.374888  0.380711  0.023727
2022-07-08 19:13:00  0.374888  0.380714  0.023728
2022-07-08 19:14:00  0.374888  0.380723  0.023734

[1193 rows x 3 columns]

In [65]:
test_label['a'] = test_label['mix_mean'] - 1.96 * test_label['mix_dev']
test_label['b'] = test_label['mix_mean'] + 1.96 * test_label['mix_dev']

<ipython-input-65-f2e50151ce47>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_label['a'] = test_label['mix_mean'] - 1.96 * test_label['mix_dev']
<ipython-input-65-f2e50151ce47>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_label['b'] = test_label['mix_mean'] + 1.96 * test_label['mix_dev']

In [66]:
test_label

                     return_t  mix_mean   mix_dev         a         b
Date
2022-07-07 23:22:00  0.400608  0.378637  0.021610  0.336281  0.420993
2022-07-07 23:23:00  0.349167  0.377480  0.023502  0.331417  0.423543
2022-07-07 23:24:00  0.374888  0.378082  0.022837  0.333322  0.422842
2022-07-07 23:25:00  0.374888  0.376526  0.022521  0.332385  0.420666
2022-07-07 23:26:00  0.349165  0.377722  0.022292  0.334030  0.421414
...                       ...       ...       ...       ...       ...
2022-07-08 19:10:00  0.374888  0.380714  0.023728  0.334206  0.427222
2022-07-08 19:11:00  0.374888  0.380676  0.023706  0.334211  0.427141
2022-07-08 19:12:00  0.374888  0.380711  0.023727  0.334207  0.427216
2022-07-08 19:13:00  0.374888  0.380714  0.023728  0.334206  0.427222
2022-07-08 19:14:00  0.374888  0.380723  0.023734  0.334205  0.427241

[1193 rows x 5 columns]

In [70]:
# See if the return_t falls in the confidence interval
result = (test_label['return_t'] > test_label['a']) & (test_label['return_t'] < test_label['b'])
result.value_counts()

True     892
False    301
dtype: int64

In [71]:
# Calculate the accuracy
accuracy = (result.value_counts().loc[True])/(test_label.shape[0])
accuracy

0.7476948868398994